body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1f4d14;
    --width: 760px;
}
body {
    font-family: "Arial Narrow", sans-serif;
}
.main-header {
    display: inline-block;
    width: var(--width);
    margin-top: 60px;
    margin-left: calc((100% - var(--width)) / 2);
}
.header-container {
    display: flex;
    justify-content: flex-end;
}

.btn-close img {
    width: 20px;
    height: 20px;
    transition: all 0.5s;
}
.btn-close img:hover {
    box-shadow: 0.1em 0.25em 0.6em -0.3em var(--main-color);
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: var(--width);
    margin-top: 60px;
    margin-left: calc((100% - var(--width)) / 2);
}

.right-column {
    width: 41%;
    margin-right: 6%;
}
.left-column {
    width: 28%;
    margin-left: 6%;
}
.main-title {
    color: var(--main-color);
    font-size: 190px;
    line-height: 1em;
    margin: 0.09em 0px;
}
.description {
    margin-bottom: 1em;
    color: var(--main-color);
    font-weight: bold;
    font-size: 24px;
}

.directions {
    margin-bottom: 1.5em;
    color: grey;
    font-size: 22px;
    line-height: 1.2em;
}
.btn-home {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.8em 1.3em;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    box-shadow: 0em 0.25em 0.6em -0.1em #61ae4f;
    color: white;
    background-color: #61ae4f;
    transition: all 0.5s;
}
.btn-home:hover {
    box-shadow: 0em 0.25em 0.6em -0.1em var(--main-color);
}

@media (max-width: 800px) {
    .btn-close {
        padding-right: 5px;
    }

    .main-header,
    .main-content {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    .main-content {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        padding-top: 0;
        margin-top: 0;
    }
    .left-column,
    .right-column {
       
        width: 80%;
        margin-left: 0;
        margin-right: 0;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .left-column {
        max-width: 210px;
    }

    .main-title {
        font-size: 110px;
    }
    .description {
        font-size: 18px;
    }

    .directions {
        font-size: 16px;
        margin-bottom: 1em;
    }
}
