body,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1f4d14;
    --width: 760px;
}
body {
    font-family: "Arial Narrow", sans-serif;
}
.main-header {
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-start; */
    width: var(--width);
    margin-top: 60px;
    margin-left: calc((100% - var(--width)) / 2);
}

.btn-close {
    float: right;
}

.btn-close img {
    width: 20px;
    height: 20px;
    transition: all 0.5s;
}
.btn-close img:hover {
    box-shadow: 0.1em 0.25em 0.6em -0.3em var(--main-color);
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: var(--width);
    margin-top: 60px;
    margin-left: calc((100% - var(--width)) / 2);
}

.right-column {
    width: 41%;
    margin-right: 7%;
}
.left-column {
    width: 27.5%;
    margin-left: 7%;
}
.main-title {
    color: var(--main-color);
    font-size: 190px;
    line-height: 1em;
    margin: 0.09em 0px;
}
.description {
    margin-bottom: 1em;
    color: var(--main-color);
    font-weight: bold;
    font-size: 24px;
}

.directions {
    margin-bottom: 1.5em;
    color: grey;
    font-size: 22px;
    line-height: 1.2em;
}
.btn-home {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.8em 1.3em;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    box-shadow: 0em 0.25em 0.6em -0.1em #61ae4f;
    color: white;
    background-color: #61ae4f;
    transition: all 0.5s;
}
.btn-home:hover {
    box-shadow: 0em 0.25em 0.6em -0.1em var(--main-color);
}

@media (max-width: 800px) {
    .main-header,
    .main-content {
        width: 100%;
        margin-left: 0;
    }
}
