header {
    display: inline-block;
    width: 700px;
    margin-top: 60px;
    margin-left: calc((100% - 700px) / 2);
}

.btn-close {
    float: right;
}
.btn-close img {
    float: right;
    width: 20px;
    height: 20px;
}

main {
    display: inline-block;
    width: 700px;
    margin-top: 30px;
    margin-left: calc((100% - 700px) / 2);
}

main > div {
    width: 45%;
    float: right;
}

img {
    width: 30%;
    float: left;
    margin-left: 5%;
}
